@model List<Article>


<section class="section bg-light">
	<div class="container">
		<div class="row align-items-stretch retro-layout">
			<div class="col-md-4">
				@foreach (var item in Model.OrderBy(x => x.CreatedDate).Take(2))
				{
					<a href="/Article/Index/@item.ArticleID" class="h-entry mb-0 mt-3 v-height gradient">

						<div class="featured-img" style="background-image: url('/articleImages/@item.CoverImageUrl');"></div>

						<div class="text">
							<span class="date">@item.CreatedDate.ToString("dddd, dd MMMM yyyy")</span>
							<h2>@item.Title</h2>
						</div>
					</a>
				}
			</div>
			<div class="col-md-4 mb-0 mt-3">
				@foreach (var item in Model.OrderByDescending(x => x.CreatedDate).OrderBy(x => x.WriterID).Take(1))
				{
					<a href="/Article/Index/@item.ArticleID" class="h-entry mb-0 img-5 h-100 gradient">

						<div class="featured-img" style="background-image: url('/articleImages/@item.CoverImageUrl');"></div>

						<div class="text">
							<span class="date">@item.CreatedDate.ToString("dddd, dd MMMM yyyy")</span>
							<h2>@item.Title</h2>
						</div>
					</a>
				}
				
			</div>
			<div class="col-md-4">
				@foreach (var item in Model.OrderByDescending(z => z.CreatedDate).OrderBy(x => x.Writer.Name).Take(2))
				{
					<a href="/Article/Index/@item.ArticleID" class="h-entry mb-0 mt-3 v-height gradient">

						<div class="featured-img" style="background-image: url('/articleImages/@item.CoverImageUrl');"></div>

						<div class="text">
							<span class="date">@item.CreatedDate.ToString("dddd, dd MMMM yyyy")</span>
							<h2>@item.Title</h2>
						</div>
					</a>
				}
			</div>
		</div>
	</div>
</section>