@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-dark">
                        <div class="inner">
                            <h3>@ViewBag.Article1</h3>
                            <p>Blog Yazıları</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-blog"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-dark">
                        <div class="inner">
                            <h3>@ViewBag.Article2</h3>

                            <p>Kategoriler</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-dark">
                        <div class="inner">
                            <h3>@ViewBag.Comment1</h3>

                            <p>Yorumlar</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-comment"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-dark">
                        <div class="inner">
                            <h3>102</h3>

                            <p>Ziyaretçiler</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-secondary">
                        <div class="inner">
                            <h3>@ViewBag.Web</h3>
                            <p>Web Geliştirme Yazıları</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-globe"></i>
                        </div>
                        
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-secondary">
                        <div class="inner">
                            <h3>@ViewBag.Mobil</h3>

                            <p>Mobile Geliştirme Yazıları</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-mobile"></i>
                        </div>
                      
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-secondary">
                        <div class="inner">
                            <h3>@ViewBag.Yapay</h3>

                            <p>Yapay Zeka Yazıları</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-brain"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-secondary">
                        <div class="inner">
                            <h3>@ViewBag.Devops</h3>

                            <p>DevOps Yazıları</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-compass"></i>
                        </div>
                        
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3>15</h3>
                            <p>Tag Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-tag"></i>
                        </div>
                      
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3>@ViewBag.Aylik</h3>

                            <p>Bu Ay Oluşturulan Blog Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-calendar-week"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3>@ViewBag.Hafta</h3>


                            <p>Bu Hafta oluşturulan Blog Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-calendar-day"></i>
                        </div>
                        
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3>@ViewBag.Bugun</h3>

                            <p>Bugün Oluşturulan Blog Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-calendar"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
            </div>

            <div class="row">

                @await Component.InvokeAsync("_AdminDashboardRecentlyPartial")

                @await Component.InvokeAsync("_AdminDashboardWriterPartial")
            </div>
            <div class="row">

                @await Component.InvokeAsync("_AdminDashboardAllComment")

                @await Component.InvokeAsync("_AdminDashboardWaitingCommentPartial")
            </div>
        </div>
    </section>

</div>