@using Blogy.WebUI.Areas.Member.Models

@model List<WeatherViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="content-wrapper pb-0">

    <div class="row">
        <div class="col-xl-8 grid-margin stretch-card">
            <div class="card card-calender">
                <div class="card-body">
                    <div class="row pt-4">
                        @foreach (var item in Model.Where(x => x.Date.ToString() == DateTime.Now.ToShortDateString()))
                        {
                            <div class="col-sm-6">
                                <h1 class="text-white">@item.Day</h1>
                                <h5 class="text-white">@item.Date</h5>
                                <h5 class="text-white m-0">Gece :@item.Night </h5>
                                <h5 class="text-white pt-2 m-0">En Düşük Sıcaklık:@item.Min</h5>
                                <h5 class="text-white m-0">En Yüksek Sıcaklık:@item.Max</h5>

                            </div>
                            <div class="col-sm-6 text-sm-right pt-3 pt-sm-0">
                                <h3 class="text-white">BURSA</h3>
                                <h5 class="text-white">@item.Description.ToUpper()</h5>
                                <h5 class="text-white m-0">@item.Degree °C</h5>
                            </div>
                        }

                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-12">
                            <ul class="d-flex pl-0 overflow-auto">
                                @foreach (var item in Model)
                                {
                                    <li class="weakly-weather-item text-white font-weight-medium text-center">
                                        <p class="mb-0">@item.Day</p>
                                        <p class="mb-0">@item.Degree<span class="symbol">°c</span></p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 grid-margin stretch-card">
            <!--activity-->
            <div class="row">
                <div class="col-xl-12 col-md-4 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                    <div class="card bg-warning">
                        <div class="card-body px-3 py-4">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="color-card">
                                    <h2 class="mb-0 text-white">Blog Yazılarım</h2>
                                    <h2 class="text-white">
                                        @ViewBag.Count
                                    </h2>
                                </div>
                                <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                            </div>
                            <h6 class="text-white"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-4 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                    <div class="card bg-danger">
                        <div class="card-body px-3 py-4">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="color-card">
                                    <h2 class="mb-0 text-white">Yorumlarım</h2>
                                    <h2 class="text-white">
                                        @ViewBag.Comments
                                    </h2>
                                </div>
                                <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                            </div>
                            <h6 class="text-white"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <!--activity ends-->
        </div>
    </div>
</div>
