

@model List<Article>

<section class="section posts-entry">
	<div class="container">
		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Web Geliştirme</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">Hepsini Göster</a></div>
		</div>
		<div class="row g-3">
			<div class="col-md-9">
				<div class="row g-3">
					@foreach(var item in Model.Take(2).OrderBy(x => x.CreatedDate))
					{
						<div class="col-md-6">
							<div class="blog-entry">
								<a href="/Article/Index/@item.ArticleID" class="img-link">
									<img src="@item.CoverImageUrl" alt="Image" class="img-fluid">
								</a>
								<span class="date">@item.CreatedDate.ToShortDateString()</span>
								<h2><a href="/Article/Index/@item.ArticleID">@item.Title</a></h2>
								<p>@item.Description</p>
								<p><a href="/Article/Index/@item.ArticleID" class="btn btn-sm btn-outline-primary">Daha Fazla</a></p>
							</div>
						</div>
					}
					
				</div>
			</div>
			<div class="col-md-3">
				<ul class="list-unstyled blog-entry-sm">
					@foreach(var item in Model.Take(3).OrderByDescending(x => x.WriterID))
					{
						<li>
							<span class="date">@item.CreatedDate.ToString("dddd, dd MMMM yyyy")</span>
							<h3><a href="/Article/Index/@item.ArticleID">@item.Title</a></h3>
							<p>@item.Description</p>
							<p><a href="/Article/Index/@item.ArticleID" class="read-more">Okumaya devam et..</a></p>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</section>