@model ResultCommentViewModel

<div class="pt-5 comment-wrap" id="CommentList">
    <h3 class="mb-5 heading">Yorumlar (@Model.ArticleCount)</h3>
    <ul class="comment-list">
        @foreach (var item in Model.Comment)
        {
            <li class="comment">
                <div class="vcard">
                    <img src="/users/@item.Image" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@item.FullName</h3>
                    <div class="meta">@item.CommentDate.ToString("dddd, dd MMMM yyyy") - @item.CommentTime</div>
                    <p>@item.Content</p>
                </div>
            </li>
        }

    </ul>
    <!-- END comment-list -->
    <div class="comment-form-wrap pt-5" id="AddComment">
        <h3 class="mb-5">Bir Yorum Yazın..</h3>
        <form method="post" id="CommentForm" asp-action="AddComment" asp-controller="Comment" class="p-5 bg-light">
            <input type="hidden" id="ArticleID" value="@Model.ArticleID" />
            <div class="form-group">
                <label for="name">Ad Soyad *</label>
                <input type="text" class="form-control" required name="FullName" id="name">
            </div>
            <div class="form-group">
                <label for="email">Mail Adresi *</label>
                <input type="email" class="form-control" required name="Email" id="email">
            </div>

            <div class="form-group">
                <label for="message">Yorumunuz</label>
                <textarea id="message" cols="30" rows="10" required name="Content" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div class=" alert alert-success font-weight-bold mt-3 text-xs comment-wrap" style="display:none" id="MessageComment">
    <h5>Yorumunuz incelendikten sonra yayınlanacaktır.</h5>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $('#CommentForm').submit(function (e) {
            e.preventDefault(); // Formun normal submit işlemini durdur

            // Form verilerini al
            var formData = {
                ArticleID: $('#ArticleID').val(),
                FullName: $('#name').val(),
                Email: $('#email').val(),
                Content: $('#message').val()
            };
            console.log(formData);
            // Ajax isteği gönder
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddComment", "Comment")', // AddComment action'ının url'sini belirtin
                data: formData,
                success: function (response) {
                    // İşlem başarılıysa yapılacak işlemler burada
                    console.log(response); // İsteğin dönüşünü kontrol etmek için konsola yazdır
                    $('#AddComment').hide();
                    $('#MessageComment').show();
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Yorum başarıyla eklendi!",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    // Yorum eklendikten sonra sayfayı yenileme ya da başka bir işlem yapabilirsiniz
                },
                error: function (xhr, status, error) {
                    // İsteğin başarısız olması durumunda yapılacak işlemler burada
                    console.error(xhr.responseText); // Hata mesajını konsola yazdır
                    alert('Yorum eklenirken bir hata oluştu!');
                }
            });
        });
    });
</script>