@model Article

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
    int Articleid = Model.ArticleID;
}


<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@Model.Categories.CategoryImageUrl'); background-position:center">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">@Model.Title</h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 me-3 d-inline-block"><img src="@Model.Writer.ImageUrl" alt="Image" class="img-fluid"></figure>
                        <span class="d-inline-block mt-1">By @Model.Writer.Name</span>
                        <span>&nbsp;-&nbsp; @Model.CreatedDate.ToShortDateString()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="post-content-body">
                    <p>@Model.FirstSection</p>
                    <p>@Model.SecondSection</p>
                    <div class="row my-4">
                        <div class="col-md-12 mb-4">
                            <img src="/blogy-1.0.0/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img src="/blogy-1.0.0/images/img_2_horizontal.jpg" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img src="/blogy-1.0.0/images/img_3_horizontal.jpg" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                    </div>
                    <p>@Model.ThirdSection</p>
                    <p>@Model.FourthSection</p>
                </div>


                <div class="pt-5">
                    <p>
                        Kategori : 
                        <a href="/Category/Index/@Model.CategoryID">@Model.Categories.CategoryName</a>
                        Tags:
                        <a href="#">#manila</a>,
                        <a href="#">#asia</a>
                    </p>
                </div>

                @await Component.InvokeAsync("_UIComment", new {id = Model.ArticleID})

            </div>

            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form asp-action="Index" asp-controller="Search" method="get" class="sidebar-search-form">
                        <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Birşeyler yaz ve Enter'a bas..." />
                        <span class="bi-search"></span>
                    </form>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="@Model.Writer.ImageUrl" alt="Image Placeholder" class="img-fluid mb-3">
                        <div class="bio-body">
                            <h2>@Model.Writer.Name</h2>
                            <p class="mb-4">@Model.Writer.Description</p>
                            <p><a href="#" class="btn btn-primary btn-sm rounded px-2 py-2">Biyografimi Oku..</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END sidebar-box -->
                @await Component.InvokeAsync("_UIArticlePopularPartial")
                <!-- END sidebar-box -->
                @await Component.InvokeAsync("_UICategoryPartial")
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                    </ul>
                </div>
            </div>
            <!-- END sidebar -->

        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#commentForm').submit(function (e) {
            e.preventDefault(); // Formun normal submit işlemini durdur

            // Form verilerini al
            var formData = {
                ArticleID: $('#ArticleID').val(),
                FullName: $('#name').val(),
                Email: $('#email').val(),
                Content: $('#message').val()
            };

            // Ajax isteği gönder
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddComment", "Comment")', // AddComment action'ının url'sini belirtin
                data: formData,
                success: function (response) {
                    // İşlem başarılıysa yapılacak işlemler burada
                    console.log(response); // İsteğin dönüşünü kontrol etmek için konsola yazdır
                    alert('Yorum başarıyla eklendi!');
                    // Yorum eklendikten sonra sayfayı yenileme ya da başka bir işlem yapabilirsiniz
                },
                error: function (xhr, status, error) {
                    // İsteğin başarısız olması durumunda yapılacak işlemler burada
                    console.error(xhr.responseText); // Hata mesajını konsola yazdır
                    alert('Yorum eklenirken bir hata oluştu!');
                }
            });
        });
    });
</script>
