@using Blogy.WebUI.Areas.Member.Models
@model ArticleViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="section search-result-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">Kategori : @ViewBag.Category</div>
            </div>
        </div>
        <div class="row posts-entry">
            <div class="col-lg-8">
                @foreach (var item in Model.Articles.OrderByDescending(x => x.CreatedDate))
                {
                    <div class="blog-entry d-flex blog-entry-search-item">
                        <div>
                            <a href="/Article/Index/@item.ArticleID" class="img-link p-0">
                                <img src="/articleImages/@item.CoverImageUrl" alt="Image" style="object-fit:fill" height="180px" width="250px">
                            </a>
                        </div>
                        <div>
                            <span class="date">@item.CreatedDate.ToShortDateString() &bullet; <a href="#">Business</a></span>
                            <h2><a href="/Article/Index/@item.ArticleID">@item.Title</a></h2>
                            <p>@item.Description</p>
                            <p><a href="/Article/Index/@item.ArticleID" class="btn btn-sm btn-outline-primary">Dahası..</a></p>
                        </div>
                    </div>
                }
                @if (Model.PageInfo.TotalItems > Model.PageInfo.ItemsPerPage)
                {
                    <div class="row text-start pt-5 border-top">
                        <div class="col-md-12">
                            <div class="text-dark" >
                                    @for (int i = 1; i <= Model.PageInfo.TotalPages(); i++)
                                    {
                                        <a href="/Category/Index/@Model.CategoryID?page=@i" class="btn btn-primary font-weight-bold @(i == Model.PageInfo.CurrentPage ? "active" : "")">@i</a>
                                    }
                               
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap mb-4">
                    <form asp-action="Index" asp-controller="Search" method="get" class="sidebar-search-form" >
                        <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Birşeyler yaz ve Enter'a bas..." />
                        <span class="bi-search"></span>
                    </form>
                </div>
                <!-- END sidebar-box -->
                @await Component.InvokeAsync("_UIArticlePopularPartial")
                <!-- END sidebar-box -->
                @await Component.InvokeAsync("_UICategoryPartial")
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>